<div #chatWrapper class="chat-wrapper">
  @for (msg of renderedMessages; track $index) {
  <div
    class="d-flex mb-3"
    [class.justify-content-end]="msg.role === 'user'"
    [class.justify-content-start]="msg.role === 'assistant'"
    [class.w-100]="true"
  >
    @if (msg.role === 'assistant') {
    <div
      class="bg-dark p-3 rounded chat"
      [innerHTML]="msg.renderedContent"
      [ngClass]="{
        edit:
          editedIndex() !== null && $index !== null && $index >= editedIndex()!
      }"
    ></div>
    } @if (msg.role === 'user') {
    <div
      [ngClass]="{
        edit:
          editedIndex() !== null && $index !== null && $index >= editedIndex()!
      }"
      class="bg-dark text-white p-3 user rounded text-end"
    >
      @if(editMode()){
      <svg
        (click)="onEditSession($index)"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-trash trash"
        viewBox="0 0 16 16"
      >
        <path
          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
        />
        <path
          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
        />
      </svg>

      }{{ msg.content }}
    </div>
    }
  </div>
  } @if (loading) {
  <div class="loader"><app-loader /></div>
  }
</div>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="d-flex mt-3 p-3">
  <textarea
    class="form-control bg-dark text-white me-2"
    formControlName="message"
    placeholder="Napisz coś..."
    rows="auto"
    (keydown.enter)="handleEnter($event)"
    (input)="handleTextareaResize($event)"
  ></textarea>
  <button
    class="btn btn-outline-light btn-sm"
    type="submit"
    [disabled]="loading || messageForm.invalid"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-send"
      viewBox="0 0 16 16"
    >
      <path
        d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
      />
    </svg>
  </button>
</form>
@if (isEditing()) {
<div class="alert" (click)="isEditing.set(false)">
  <app-modal
    [title]="title"
    [description]="description"
    (clicked)="handleModalEvent($event)"
    [thirdBtn]="true"
  />
</div>
}
